<!DOCTYPE html>
<html lang="en">
<head>
<title>Central</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="black"><b>Chennai Central</b></font>
</h1>
<h2 align="center">
<font color="brown"><b>Railway Station</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
Puratchi Thalaivar Dr. M.G. Ramachandran Central 
Railway Station, commonly known as Chennai Central 
(station code: MAS), is the main railway terminus in 
the city of Chennai, Tamil Nadu, India. It is the 
busiest railway station in South India and one of the 
most important hubs in the country. It is connected 
to Moore Market Complex railway station, Puratchi 
Thalaivar Dr. M.G. Ramachandran Central metro 
station, Chennai Park railway station, Chennai Park 
Town railway station and is 2 km from Chennai Egmore 
railway station. The terminus connects the city to 
northern India, including Kolkata, Mumbai, New Delhi 
as well as to Bengaluru, Ahmedabad, Guwahati, 
Chandigarh, Kerala, Hyderabad and different parts of 
India.
The century-old building of the railway station, 
designed by architect George Harding, is one of the 
most prominent landmarks of Chennai.The station is 
also a main hub for the Chennai Suburban Railway 
system. It lies adjacent to the current headquarters 
of the Southern Railway and the Ripon Building. 
During the British Raj, the station served as the 
gateway to South India, and the station is still used 
as a landmark for the city and the state. 
</b>
</font>
</p>
</body>
</html>
 