<!DOCTYPE html>
<html lang="en">
<head>
<title>Highcourt</title>
</head>
<body bgcolor="lightcyan">
<h1 align="center">
<font color="black"><b>Madras High Court</b></font>
</h1>
<h2 align="center">
<font color="purple">The third oldest high court of 
India<b></b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
The Madras High Court is a High Court in India. It 
has appellate jurisdiction over the state of Tamil 
Nadu and the union territory of Puducherry. It is 
Nadu and the union territory of Puducherry. It is 
located in Chennai, and is the third oldest high 
court of India after the Calcutta High Court in 
Kolkata and Bombay High Court in Mumbai. The Madras 
High Court is one of three high courts of colonial 
India established in the three Presidency Towns of 
Madras, Bombay and Calcutta by letters patent granted 
by Queen Victoria, dated 26 June 1862. It exercises 
original jurisdiction over the city of Chennai, as 
well as extraordinary original jurisdiction, civil 
and criminal, under the letters patent and special 
original jurisdiction for the issue of writs under 
the Constitution of India. Covering 107 acres, the 
court complex is one of the largest in the world, 
second only to the Supreme Court of the United 
Kingdom.
The High Court consists of 74 judges and a chief 
justice.
</b>
</font>
</p>
</body>
</html>