<!DOCTYPE html>
<html lang="en">
<head>
<title>My City</title>
</head>
<body style="background-color: black;">
 <img src="/static/images/map.png" 
usemap="#MyCity" alt="MyCity" height="877" 
width="1498">
<map name="MyCity">
 <area shape="RECT" coords="695,518,748,596" 
alt="Jawaharlal Nehru Stadium" title="Jawaharlal 
Nehru Stadium" href="/stadium/">
 <area shape="RECT" coords="834,668,1019,741" 
alt="Central" title="Central" href="/central/">
 <area shape="RECT" coords="1145,653,1254,731" 
alt="Museum" title="Museum" href="/museum/">
 <area shape="RECT" coords="1198,202,1307,280" 
alt="Temple" title="Temple" href="/temple/">
 <area shape="RECT" coords="1128,460,1249,546" 
alt="High Court" title="High Court" 
href="/highcourt/">
</map>
</body>
</html>
