<!DOCTYPE html>
<html lang="en">
<head>
<title>Central</title>
</head>
<body bgcolor="lavender">
<h1 align="center">
<font color="black"><b>Fort St. George</b></font>
</h1>
<h2 align="center">
<font color="darkred"><b>Museum</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
The Fort Museum, which is the only ticketed 
institution of the Archaeological Survey of India in 
the complex, exhibits many items of the period of 
English and later British rule. This building was 
completed in 1795 and first housed the office of the 
Madras Bank. The hall upstairs was the Public 
Exchange Hall and served as a place for public 
meetings, lottery draws and occasional entertainment. 
These relics are reminders of British rule in India. 
The objects on display in the museum are the weapons, 
coins, medals, uniforms and other artefacts from 
England, Scotland, France and India dating back to 
the colonial period. Original letters written by 
Clive and Cornwallis make fascinating reading. One 
set of quaint period uniforms is displayed for 
viewing, as well. However, the pièce de resistance is 
a large statue of Lord Cornwallis.
The National Flag of India was designed by Pingali 
Venkayya and adopted in its present form during the 
meeting of the Constituent Assembly held on 22 July 
1947, a few days before India's independence from 
Britain on 15 August 1947. The first ever flag flown 
after the independence is stored in the third floor 
of the museum. The public are allowed to see but not 
to touch or take photographs. 
to touch or take photographs. 
</b>
</font>
</p>
</body>
</html>
 