<!DOCTYPE html>
<html lang="en">
<head>
<title>Stadium</title>
</head>
<body bgcolor="rosybrown">
<h1 align="center">
<font color="black"><b>Jawaharlal Nehru Stadium</b>
</font>
</h1>
<h2 align="center">
<font color="midnightblue"><b>Marina Arena</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
Jawaharlal Nehru Stadium (also known as the Marina 
Arena) is a multi-purpose stadium in Chennai, India. 
It has a capacity to seat 40,000 people. It hosts 
football matches and athletic competitions. The 
complex also houses a multipurpose indoor stadium 
with a seating capacity of 5,000 which hosts 
volleyball, basketball, table tennis games. The 
stadium is also used for functions and concerts. The 
stadium is named after Jawaharlal Nehru, India's 
first Prime Minister. The stadium earlier hosted 
cricket test matches between 1956 and 1965. As of 19 
August 2017 it has hosted 9 tests.
The stadium is located at Sydenhams Road, Park Town 
behind the Chennai Central suburban railway station 
and the Ripon Building. Tamil Nadu football team, 
which plays in Santosh Trophy and Chennaiyin FC, the 
Indian Super League team representing the city, use 
the stadium as their home ground. 
</b>
</font>
</p>
</body>
</html>
 