<!DOCTYPE html>
<html lang="en">
<head>
<title>Temple</title>
</head>
<body bgcolor="lightyellow">
<h1 align="center">
<font color="black"><b>Kalikambal Temple</b></font>
</h1>
<h2 align="center">
<font color="navy"><b>Georgetown</b></font>
</h2>
<hr size="3" color="maroon">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
Output:
<b>
The Kālikāmbal Temple is a Hindu temple dedicated to 
Shri Kāligāmbāl (Kāmākshi) and Lord Kamadeswarar, 
located in Parry's corner (Old: George Town) locality 
of the city of Chennai, Tamil Nadu, India. The temple 
is located in Thambu Chetty Street, a prominent 
financial street at Georgetown, running parallel to 
Rajaji Salai. The temple was originally located 
closer to the sea shore at the site of the presentday Fort St. George. When the British East India 
Company built the fort, the temple was relocated to 
the current site on 1 March 1640 and the construction 
continued until 1678. Chhatrapati Shivaji, the 17th 
century Maratha warrior-king and the founder of 
Maratha Empire, had paid a visit in this temple on 3 
October 1677.It is believed that a fierce form of 
Goddess was held in worship earlier and that this 
form was replaced with the shanta swaroopa (calm 
posture) form of Goddess Kamakshi by Adi Shankara. 
Tamil poet Subramaniya Bharathi was a regular visitor 
of the temple in the early 20th century
</b>
</font>
</p>
</body>
</html>